* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: ghostwhite;
}

#area {
    border: 2px solid #776f6f;
}

button {
    padding: 5px 10px;
    background-color: #43bb64;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #41ab5a;
    cursor: pointer;
}

#start {
    background-color: #344fb7;
    border: 2px solid #17498d;
}

.info {
    width: 80%;
    text-align: center;
}

.info p {
    margin-bottom: 20px;
}

ins {
    font-size: 12px;
}